

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    
</head>
<body>
    {% load static %}
    <section class="sub-header">
        <nav>
            <img src="{% static 'logo.png' %}" alt="">
            
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'courses' %}">COURSES</a></li>
                    <li><a href="{% url 'blog' %}">BLOG</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>Contact <span>Us</span></h1>        
    </section>

    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.6187849672738!2d79.80004797054339!3d11.931596410984492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a536152b060e44b%3A0x6c0122e2eb961667!2sCareer%20Craft%20Academy!5e0!3m2!1sen!2sin!4v1736331688667!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>




    <section class="contact-us">
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span class="span2">
                        <h5>19 & 20, Villiyanur Main Road, Victoria Nagar Main Road</h5>
                        <p>Reddiarpalayam, Puducherry, 605010</p>
                    </span>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <span class="span2">
                        <h5>+91 9087753999</h5>
                        <p>Monday to Saturday, 10AM to 7 PM</p>
                    </span>
                </div>

                <div>
                    <i class="fa fa-envelope-o"></i>
                    <span class="span2">
                        <h5>info@careercraftacademy.com</h5>
                        <p>Email us your query</p>
                    </span>
                </div>
            </div>
            <div class="contact-col">
                <form action="" method="post">
                    <input type="text" name="name" placeholder="Enter your name" required>
                    <input type="email" name="email" placeholder="Enter email address" required>
                    <input type="text" name="subject" placeholder="Enter your subjects" required>
                    <textarea rows="8" name="message" placeholder="Message" required></textarea>
                    <button type="submit" class="hero-btn red-btn">Send Message</button>
                </form>
            </div>
        </div>
    </section>





    <section class="footer">
        <h4>About <span>Us</span></h4>
        <p>These Institutes provided facility of libraries and scientific instruments. They also offered salaries to tutors who prepared students to appear for examination and acquire a degree.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-pinterest"></i> 
        </div>
        <p>Made with by <i class="fa fa-heart"></i> Nithish <i class="fa fa-heart"></i></p>
    </section>

    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right ="0";
        }
        function hideMenu(){
            navLinks.style.right ="-200px";
        }
    </script>
</body>
</html>